@charset "utf-8";

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: 100% 100%;
}

#logo {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 25px;
    margin: 20px;
}

#teste {
    float: right;
}

#container {
    background-image: url(../imagens/frame-iphone.png);
    position: relative;
    height: 96vh;
    /* padding: 10px; */
}

#conteudo {
    background-image: url(../imagens/tela-home.jpg);
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
}

h1 {
    color: blue;
}

/* Última tentativa */