@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-color: gray;
}

/* #imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}
 */

#container {
    background-size: 100% 100%;
    position: relative;
    height: 97vh;
}

#conteudo {
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#container2 {
    background-size: 100% 100%;
    position: relative;
    height: 97vh;
}

#conteudo2 {
    background-size: 100%
}